*.pkl filter=lfs diff=lfs merge=lfs -text
Mileage/model/mileage_model.pkl filter=lfs diff=lfs merge=lfs -text
Power/model/power_model.pkl filter=lfs diff=lfs merge=lfs -text
Price/model/price_model.pkl filter=lfs diff=lfs merge=lfs -text
